<nav class="navbar navbar-light bg-light mb-5">
    <div class="container">
        <span class="navbar-brand mb-0 h1">CIEVS</span>

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('import') }}">
                    Importar arquivo
                </a>
            </li>
        </ul>
    </div>
</nav>
